.custom-nav-link {
    font-weight: 600;
    position: relative;
    color: #0B1D51;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

.custom-nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #0B1D51;
    transition: width 0.3s ease;
}
.custom-nav-link:hover::after,
.custom-nav-link.active::after {
    width: 100%;
}
.custom-nav-link:hover,
.custom-nav-link.active {
    color: #0B1D51;
}